.form {
  display: flex;
  height: 100vh;
  align-items: center;

  &_image {
    display: none;

    @media (min-width: 768px) {
      width: 50%;
      display: block;
      height: 100vh;
      background: url("/images/form.jpg") 70% 20% / cover no-repeat;
      position: relative;
      top: 0;
    }
  }
}