.header {
  position: relative;
  background-color: black;
  height: 100vh;

  margin: 0;

  &_background {
    position: absolute;
    top: 0;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url(/images/homepage_header.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% 20%;
    opacity: 0.5;
  }

  &_title1 {
    position: absolute;
    top: 40%;
  }

  &_title2 {
    position: absolute;
    top: 45%;

    @media (min-width: 678px) {
      top: 47%;
    }
  }

  &_button {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 35px;
    padding: 15px;
    cursor: pointer;
    color: whitesmoke;

    &:hover {
      background-color: white;
      opacity: 0.6;
      color: black;
      transition: ease-in-out 0.4s;
    }
  }
}